rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    function isSignedIn() {
      return request.auth != null;
    }

    function isInTeam(teamId) {
      return firestore.exists(
        /databases/(default)/documents/teams/$(teamId)/users/$(request.auth.uid)
      );
    }

    match /teams/{teamId}/incidents/{allPaths=**} {
      allow read, write: if isSignedIn() && isInTeam(teamId);
    }
  }
}