rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function isInTeam(teamId) {
      return exists(
        /databases/(default)/documents/teams/$(teamId)/users/$(request.auth.uid)
      );
    }

    match /teams/{teamId}/incidents/{allPaths=**} {
      allow read, write: if isSignedIn() && isInTeam(teamId);
    }
  }
}
